 @import "@/style/jumbotron.scss";
 footer {
    height: 500px;

    .container-info {
        height: 100px;
        background-color: $blue-primary-color;
    
    .footer-info {
        height: 100px;
        width: 1200px;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        .box {
            display: flex;
            align-items: center;

            img {
                width: 30px;
            }

            p {
                font-size: 10px;
                color: white;
                margin-left: 10px;
            }
        }
    }
}

    .container-jumbo {
        background-image: $secondary-jumbo;    
        height: 300px;
    

        .footer-link {
            width: 1200px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            .box-link {
                height: 100%;
                padding-top: 20px;
                padding-left: 20px;
                display: flex;

                ul {
                    list-style: none;
                    margin-right: 25px;

                    .mini-title {
                        color: white;
                        font-size: 20px;
                        margin: 10px 0;
                    }
                    li {
                        color: grey;
                        font-size: 10px;
                        cursor: pointer;
                    }
                }
            }

            .box-image {
                height: 300px;
                
                
                img {
                    width: 450px;
                    height: 300px;
                    object-fit: cover;
                }
            }
        }
    }

    .footer-social {
        height: 100px;
        background-color: #2e2e2e;
        
        .container-social {
            width: 1200px;
            height: 100px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .sign-up{
                text-decoration: none;
                padding: 10px;
                color: white;
                border: 2px solid $blue-primary-color;
                transition: all 0.3s;

                &:hover {
                    background-color: $blue-primary-color;
                }
            }

            .follow-us {
                display: flex;
                align-items: center;

                p {
                    font-size: 20px;
                    color: $blue-primary-color;
                }

                img {
                    margin-left: 15px;
                    cursor: pointer;
                }
            }
        }
    }
}